[submodule "vim/pack/ellemouton/start/vim-go"]
	path = vim/pack/ellemouton/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/ellemouton/start/nerdtree"]
	path = vim/pack/ellemouton/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/pack/ellemouton/start/vim-airline"]
	path = vim/pack/ellemouton/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/ellemouton/start/vim-fugative"]
	path = vim/pack/ellemouton/start/vim-fugative
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/ellemouton/start/vim-rhubarb"]
	path = vim/pack/ellemouton/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
